.content p {
    position: absolute;
    left: -100%;
    opacity: 0;
    -webkit-transition: 0.25s all ease-out;
}
.content p.show {
    font-family: 'Changa One', sans-serif;
    font-size: 30px;
    left:0px;
    top:0px;
    position :absolute;
    width:100%;
    height:100%;
    background-color:white;
    opacity: .90;
    -webkit-transition: 0.25s all ease-out;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    text-align: left;
    padding-top:150px;
    padding-left:200px;
}
.container li {
    width:50px;
    height: 50px;
    border-radius:50%;
    padding-bottom:0px;
    padding-top:100px;
    padding-left:100px;
    border: 1px solid white;
    -webkit-filter:grayscale(100%);
    box-shadow: 2px 2px 6px 2px #333333;
    list-style: none;
    float:left;
    margin:14px;
}
.container li:hover {
    opacity:0.9;
    box-shadow: 2px 2px 6px 2px #8F0000;
    cursor: pointer;
    -webkit-filter:contrast(100%);
    -webkit-transition: 0.25s all ease-out;
}
.container li:active {
    -webkit-filter:greyscale(100%);
    opacity:1;
    cursor: pointer;
}
body {
    background-color:#FFFFF5;
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.xbutton div {
    left:-100px; 
    top:20px; 
    position:absolute;
    width:40px;
    height:40px;
    padding:0px;
    background-color:white;
    border:2px solid #444;
    opacity:0.2;
    border-radius:50%;
    z-index:5;
    -webkit-transition: 0.25s all ease-out;
}
.xbutton div.show {
    background-color:white;
    left:40px;
    -webkit-transition: 0.25s all ease-out;
    opacity:1;
}

.xbutton div:hover{
    background-color:#8F0000;
    cursor:pointer;
}

#blank {
  min-width:607px;
  max-width:1024px;  
  min-height:1000px;
    margin-left:auto;
    margin-right:auto;
}
h1 {
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -2px;
    border-bottom: 1px solid #CCCCCC;
    color: #777777;
    display: block;
}
h2 {
    font-size: 21px;
    display: block;
}
h3 {
    font-size: 24px;
    color:#8F0000;
    font-family:codystar;
}
#homespan {
    width:100%;
    height:500px;
    background-color: #000;
    opacity: 0.95;
    position:absolute;
    left:0px;
    top:0px;
    border-radius:10px;
    border: solid 5px #444444;
    padding:5%;
    display:none;
    z-index:3;
}
.title{
  font-family: 'Niconne', cursive;
  position: relative;
  width: 600px;
  font-size: 30px;
  text-align: center;
  }
.line-1{
  position: relative;
}
.line-2{
  font-family: 'Cinzel', serif;
  font-size: 90px;
  text-transform: uppercase;
  position: relative;
  letter-spacing: 15px;
}
.line-3{
  position: relative;
  font-size: 30px;
}
.line-5{
  position: relative;
  font-size: 20px;
}
.line-6{
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 5px;
}
